@{
    ViewData["Title"] = "";
}
<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-sm">
            <div class="card-body p-4">
                <h3 class="card-title text-center mb-4">Вхід у систему</h3>

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        @Html.ValidationSummary(false, "", new { @class = "mb-0" })
                    </div>
                }
                <form asp-action="Login" method="post">
                    <div class="mb-3">
                        <label class="form-label fw-bold">Email</label>
                        <input name="email" type="email" class="form-control" placeholder="example@mail.com" required />
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-bold">Пароль</label>
                        <input name="password" type="password" class="form-control" required />
                    </div>

                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-primary btn-lg">Увійти</button>
                    </div>
                </form>

                <div class="text-center mt-3">
                    <span class="text-muted">Ще не маєте акаунту?</span>
                    <a asp-action="Register" class="text-decoration-none fw-bold">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>